 @import url('https://fonts.googleapis.com/css?family=Play');
 @import url('https://fonts.googleapis.com/css?family=Handlee');
 
 h5 {
	color: red;
	font-size: 25px;
}

 body {
	background-color: #2be1f2;
}	

#album {
	background-image: url("CtE.jpg");
	height: 500px;
	width: 500px;
	background-position: center;
}

.members {
	 font-family: 'Play', sans-serif;
	 font-style: italic;
	  
}

.title {
	font-family: 'Handlee', cursive;
	text-align: center;
}	

a:link {
	text-decoration: none;
}	

a:hover {
	text-decoration: underline;
	background-color: #00ff00;	
}	

tbody {
	background-color: #00ff00;
	text-align: center;
	font-style: italic;
}	
