@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore');

.footer {
	color: red;
	border-bottom: 1px solid grey;	
}

.title {
	outline: red dotted;
	font-family: 'La Belle Aurore', cursive;
	font-size: 25px;
}

.links:link {
	font-size: 20px;
	color: #0059ea
}

.links:visited {
	color: #1d938c;
}	

.links:hover {
	font-weight: bold;
}	

.links:active {
	text-decoration: none;
}

#homebg {
	Background-color: #32ff4e;
	
}	
