#footer {
	color: red;
	border-bottom: 1px solid grey;	
}

#title {
	outline: red dotted;
}

#menu {
	font-size: 20px;
	font-weight: bold;
	color: blue;	
}

#home {
	font-size: 20px;
	font-weight: bold;
	color: blue;
}	

#contact {
	font-size: 20px;
	font-weight: bold;
	color: blue;
}		