@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore');

.footer {
	color: red;
	border-bottom: 1px solid grey;	
}

.title {
	outline: red dotted;
	font-family: 'La Belle Aurore', cursive;
	font-size: 25px;
}

.menu {
	font-size: 20px;
	font-weight: bold;
	color: blue;	
}

.home {
	font-size: 20px;
	font-weight: bold;
	color: blue;
}	

.contact {
	font-size: 20px;
	font-weight: bold;
	color: blue;
}	

#homebg {
	Background-color: #32ff4e;
	
}	